body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#weatherButton {
  background-color: #1963C6;
  color: white;
  border-radius: 25px;
  border: none;
  padding: 8px 17px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#searchButton {
  background-color: #1963C6;
  color: white;
  border-radius: 25px;
  border: none;
  padding: 8px 17px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}
